.scroll-pane {
    -fx-background-color: linear-gradient(to right bottom, #F58A42 0%, #010A3B 51%, #BA5F14 100%);;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to right bottom, #1C0E04 0%, #0B1133 87%);
}